<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Adicionar Missão Espacial</h1>
    <form method="POST">
      <input
        type="text"
        name="nome_missao"
        placeholder="Nome da Missão"
        required
      />
      <input type="date" name="data_lancamento" required />
      <input type="text" name="destino" placeholder="Destino" required />
      <input
        type="text"
        name="estado_missao"
        placeholder="Estado da Missão"
        required
      />
      <input type="text" name="tripulacao" placeholder="Tripulação" required />
      <input type="text" name="carga_util" placeholder="Carga Útil" required />
      <input
        type="text"
        name="duracao_missao"
        placeholder="Duração da Missão"
        required
      />
      <input
        type="number"
        name="custo_missao"
        placeholder="Custo da Missão"
        step="0.01"
        required
      />
      <textarea
        name="status_missao"
        placeholder="Status da Missão"
        required
      ></textarea>
      <button type="submit">Adicionar Missão</button>
    </form>
  </body>
</html>
