<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisar missao</title>
    <link rel="shortcut icon" href="./static/ico.png" type="image/x-icon" />
  </head>

  <body>
    <form method="POST">
      <input type="date" name="data_inicio" required />
      <input type="date" name="data_fim" required />
      <button type="submit">Pesquisar</button>
    </form>
  </body>
</html>
